<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>New Recipe</title>
  <body>
    <h1>Per aggiungere una nuova ricetta, compila i seguenti campi:</h1>
    <!--invio i dati alla pagina /recipe con una richiesta http POST e gli associo l'oggetto recipe nel controller-->
    <form th:action="@{/recipe}" method="POST" th:object="${recipe}">
      
      <!--Gestione degli errori-->
      <!--con '#fields' thymeleaf accede agli errori di validazione-->
      <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.hasGlobalErrors()}" th:text="${err}"></p>
      </div>
      
      <div>
        <label>Nome: </label><span><input type="text" th:field="${recipe.nome}"/></span>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
      </div>
      <div>
        <label>Tempo di preparazione: </label><span><input type="text" th:field="${recipe.tempoDiPreparazione}"/></span>
        <span th:if="${#fields.hasErrors('tempoDiPreparazione')}" th:errors="*{tempoDiPreparazione}"></span>
      </div>
      <div>
        <label>Provenienza: </label><span><input type="text" th:field="${recipe.provenienza}">(facoltativo)</span>
      </div>
      <div>
        <span><button type="submit">Conferma</button></span>
      </div>
      <div> 
        <a th:href="@{/}">Torna alla home</a>
      </div>
    </form>
  </body>
</head>
</html>