<!DOCTYPE html>
<html lang="it">
  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <title>Benvenuto su MyRecipe</title>
  <link rel="stylesheet" th:href="/style.css">
</head>

<body>
  <div class="container">
    <div class="icon">🍳</div>
    <h1>Benvenuto su MyRecipe</h1>
    <p class="subtitle">Crea e salva ricette deliziose!</p>
    <a class="button" th:href="@{/login}" th:text="Accedi">Accedi</a>
    <a class="button" th:href="@{/register}" th:text="Registrati">Registrati</a>
  </div>
</body>
</html>