<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="recipesStyle.css">
  <title>RECIPES</title>
</head>

<body>
  <div th:if="${recipes.isEmpty()}">
    <h1>Non c'è nessuna ricetta salvata!</h1>
    <div>
      <a th:href="@{/formNewRecipe}">Aggiungi una nuova ricetta</a>
    </div>
    <div>
      <a th:href="@{/}">Torna alla home</a>
    </div>
  </div>
  <div th:unless="${recipes.isEmpty()}">
    <h1>Ecco la lista delle tue ricette:</h1>
    <ul>
      <li th:each="recipe : ${recipes}">
        <a th:href="@{'/recipe' + '/' + ${recipe.id}}" th:text="${recipe.nome}"></a>
        <span>
          <a href="@{/updateRecipe}">Modifica</a>
        </span>
      </li>
    </ul>
    <div>
      <a th:href="@{/formNewRecipe}">Aggiungi una nuova ricetta</a>
    </div>
    <div>
      <a th:href="@{/}">Torna alla home</a>
    </div>
  </div>
</body>
</html>